<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            height: 100vh;
            background-color: #f4f4f9;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }

        h1 {
            color: #2563eb;
            margin-bottom: 20px;
        }

        form {
            background: white;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input {
            padding: 10px;
            margin-bottom: 10px;
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
        }

        button {
            padding: 10px 20px;
            background-color: #2563eb;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s;
        }

        button:hover {
            background-color: #1d4ed8;
        }
    </style>
</head>

<body>
    <%- include('partials/sidebar') %>
        <h1>Blacklist Mac Address</h1>
        <form action="/blacklist" method="POST">
            <input type="text" name="mac" placeholder="Enter Mac Address" maxlength="17" minlength="17" required>
            <br>
            <button type="submit">Blacklist</button>
        </form>
</body>

</html>
