<style>
    .sidebar {
        width: 20%;
        padding: 20px;
        border-right: 2px solid black;
        text-align: left;
        font-weight: bold;
    }
</style>

<div class="sidebar">
    <a href="/stats">Worker List</a>
    <br>
    <br>
    <a href="/blacklist">Blacklisted</a>
</div>
